!/log/.keep
!/tmp/.keep
*.*~
*.bak
*.sass~
*.tmproj
.*.swp
.DS_Store
.bundle
.byebug_history
.directory
.env.local
.gem
.rspec
.ruby-gemset
.sass-cache/*
.swo
.swp
/.bundle
/.bundle
/data
/fonts
/log/*
/tags
/tmp
/tmp/*
/vendor
/vendor/cache
\.project
bower_components/**
config/database.yml
dump.rdb
log/*
mkmf.log
node_modules/**
public/uploads/**
test/coverage/*
test/data
tmp/*
